<fieldset>
  <legend>Local Avatar Plugin settings</legend>
  <p>
  <label>Image URL</label>
   <%= text_field_tag 'settings[localavatar_url]', @settings['localavatar_url'], :size=>"120" %>
 </p>
</fieldset>
